.menuWrapper {
  margin-top: 15px;
  width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuContent {
  display: flex;
  align-items: center;

  > p {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 5px 0 0;
  }
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.done {
  .checkBox {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: gray;
  }

  > p {
    transition: 0.5s;
    color: gray;
    text-decoration: line-through;
    font-size: 24px;
    font-weight: 800;
  }
}

.deleteButton {
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 5px 0 0;
  border: none;
  outline: none;
  background-color: white;

  &:hover {
    color: red;
  }
}
