* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameInformation {
  width: 500px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > h2 {
    margin: 0;
  }

  > button {
    cursor: pointer;
    width: 200px;
    height: 40px;
  }
}

.GameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  flex-wrap: wrap;
  gap: 18px;
}
