.NumberSubmitInput {
  width: 430px;
  height: 50px;
  padding: 8px;
  border: 1px solid blue;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
