.NumbersContainer {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.NumberButton {
  height: 80px;
  border: none;
  font-size: 1.5rem;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgray;

  &.large {
    width: 310px;
  }

  &.medium {
    width: 210px;
  }

  &.small {
    width: 100px;
  }

  &.gray {
    background-color: #f2f3f5;
    color: black;
  }

  &.blue {
    background-color: #4b89dc;
    color: white;
  }

  &:active {
    box-shadow: none;
  }
}
