.CardWrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 3px solid gold;
  border-radius: 8px;
}

.card {
  backface-visibility: hidden;
  visibility: visible;
  transition: 1s;
}

.front {
  position: absolute;
  transform: rotateY(-180deg);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
}

.flipFront {
  transform: rotateY(0deg);
}

.flipBack {
  transform: rotateY(180deg);
}
