.TopBottom {
  margin-top: 120px;
  text-align: center;

  &:hover {
    animation-name: TopToBottom;
    animation-duration: 1s;
  }
}

@keyframes TopToBottom {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
